<!DOCTYPE html>
<html>
  <head>
    <title>The Order of The Phoenix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <p class ="navbar-brand">The Order of The Phoenix</p>
        <p class="subtitle">Search For Members of The Order of The Phoenix By House</p>
      </div>
      <div class="harry-potter-container">
        <%= image_tag("harry-potter.png", class: "harry-potter") %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= form_tag(search_path, method: "get") do %>
            <%= select_tag(:house, options_for_select(hogwarts_houses), {class: "select-field"}) %>
            <%= submit_tag('Search For Members', class: "button") %>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
