<!DOCTYPE html>
<html>
  <head>
    <title>The Order of The Phoenix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to "OOP Search", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= form_tag :search, method: :get, class: "form-inline" do %>
            <div class="form-group search-field">
              <%= text_field_tag(:house) %>
              <%= submit_tag "Search For Members", class: "btn btn-primary" %>
            </div>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
